<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Reviews:</strong>
  <% @reviews.each do |review| %>
    <%= review.content %> <br>
  <%end%>
</p>

<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %>
<br>
<%= link_to 'Back', restaurants_path %>
